#schedule {
  background-color:#ffffff;
  width: 100%;
  padding: 50px;
}
tr {
  height: 45px;
}
th {
  height: 45px;
}
td {
  height: 45px;
  font-size: 2em;
  margin-left:auto;
  margin-right: 0;
}
.time {
}

.table-container > p {
  font-size: 1em;
}