#schedule {
  background-color:#ffffff;
  width: 100%;
  padding: 40px;
}
tr {
  height: 40px;
}
th {
  height: 40px;
  font-size: 2em;
}
td {
  height: 45px;
  font-size: 2em;
  display: table-cell;
  margin-left:auto;
  margin-right: 0;
  vertical-align: middle;
}
.time {
}

.table-container > p {
  font-size: 0.6em;
}
.table-container > h3 {
  font-size: 0.7em;
}